@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}
body {
    background-color: #171717;
}

form {
    height: 650px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form * {
    font-family: 'Red Hat Display', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.form_content{
    height: 600px;
    width: 550px;
    position: relative;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 45px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
}


select{
    display: block;
    height: 45px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

option{
    background-color: #ededed;
    color: #171717;
}
::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 30px;
    width: 100%;
    height: 45px;
    background-color: #ededed;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    color: #bb1112;
}

.error{
    width: 100%;
    height: 25px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 15px;
}